form.create-note {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 70px auto 30px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  margin-bottom: 10px;
}

form.create-note input::placeholder,
form.create-note textarea::placeholder {
  font-size: 1em;
  color: #999;
}

form.create-note textarea {
  min-height: 50px;
}

form.create-note .add-task-btn {
  position: absolute;
  right: 24px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

form.create-note .cancel-btn {
  position: absolute;
  right: 80px; 
  bottom: -18px;
  background: #d9534f; 
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

form.create-note button:hover {
  background-color: #e09c0d; 
}

form.create-note .cancel-btn:hover {
  background-color: #c9302c; 
}

@media (max-width: 600px) {
  form.create-note {
      max-width: 100%;
      padding: 10px;
  }

  form.create-note input,
  form.create-note textarea {
      font-size: 1em;
  }

  form.create-note .add-task-btn {
      right: 10px;
      bottom: -12px;
  }

  form.create-note .cancel-btn {
      right: 60px; 
      bottom: -12px; 
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  form.create-note {
      max-width: 70%;
      padding: 12px;
  }
}
